[role="listbox"] {
  height: calc(100vh - 112px);
}

[role="listbox"] > div {
  height: 100%;
}

.page h3 {
  margin-left: 16px;
  margin-bottom: 0;
}

.price {
  line-height: 1.4em !important;
}

.appbar-title {
  display: flex;
  justify-content: space-between;
}

.appbar-title .date-np {
  font-size: 0.5em;
}